<!-- <head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head> -->

<div class="container">
  <h2>{{ title }}</h2>

  <a *ngFor="let user of users" (click)="goToDetail(user)"
    class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ user.profile.name }}</h5>
      <small>Il y a 3 heures</small>
    </div>
    <p class="mb-1">Catégorie: {{ getTypeDescription(user.profile.demand.category) }}</p>
    <small *ngIf="user.profile.address">{{ user.profile.address }}</small>
  </a>
</div>
