<div class="container">
  <p>{{ demand.id }}</p>
  <div class="row">
    <label class="col-sm-4" style="width: 25%;">Filtre</label>
    <select class=" col-sm-8 input-font" style="width: 75%;" [(ngModel)]="filtreTypeDemande" (change)="changeFiltre()" [ngModelOptions]="{standalone: true}">
      <option value="0">Tous</option>
      <option value="1">Bouffe</option>
      <option value="2">Bras</option>
      <option value="3">Matériaux</option>
      <option value="4">Sacs de sable</option>
      <option value="5">Soutien psychologique</option>
      <option value="6">Autre</option>
    </select>
  </div>
</div>
